<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codingparty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodingParty">
        <activity android:name=".PostFileClick"></activity>
        <activity android:name=".PostItem" />
        <activity android:name=".AddTextToolbar" />
        <activity android:name=".AddText" />
        <activity android:name=".SuggestToolbar" />
        <activity android:name=".FreeToolbar" />
        <activity android:name=".BoardQna" />
        <activity android:name=".SuggestMain" />
        <activity android:name=".BoardContest" />
        <activity android:name=".FreeMain" />
        <activity android:name=".EquipmentMain" />
        <activity android:name=".bottom_navi" />
        <activity android:name=".BoardMain" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity_mypage" />
        <activity android:name=".Mypage_Scrap"/>
        <activity android:name=".Mypage_Option"/>
        <activity android:name=".Mypage_History"/>
        <activity android:name=".Mypage_Record"/>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>